.auth-register {
    height: calc(100vh - 80px);
    .register-main-card {
        width: 400px;
        margin: auto;
        background-color: $white;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
            0px 1px 3px 0px rgb(0 0 0 / 12%);
        .register-btn {
            width: 300px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .register-app-img {
            width: 30%;
        }
        .register-app-img-qr {
            width: 20%;
        }
    }
}
.auth-client-register{
    height: calc(100vh - 80px);
    .register-client-card {
        max-width: 600px;
        margin: auto;
        background-color: $white;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
            0px 1px 3px 0px rgb(0 0 0 / 12%);
        padding: 2rem;
        .register-header {
            color: $d-t-color;
        }
    }
}