.container {
    margin-top: 100px;
    margin-bottom: 1rem;
}

.dashboard {
    .selection-tone {
        background-color: #dcf4fe;
        .s-container {
            margin-top: 20px;
            .selection-one {
                height: 100vh;
                .dash-img-t {
                    .dash-img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .first-letter {
                    font-size: 2rem;
                }
                .section-arrow-t {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    .section-arrow {
                        color: black;
                        .arrow-bottom {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                @media (max-width: 1050px) {
                    .section-arrow-t {
                        display: none;
                    }
                }
                @media (max-width: 600px) {
                    .first-letter {
                        font-size: 1.5rem;
                    }
                }
                @media (max-width: 400px) {
                    .first-letter {
                        font-size: 1rem;
                    }
                }
            }
        }
        @media (max-width: 1010px) {
            .s-container {
                margin-top: 64px !important;
                .selection-one {
                    height: 100% !important;
                    .dash-img-t {
                        padding: 0;
                    }
                }
            }
        }
    }
    #section-two {
        .app-img {
            width: 150px;
        }
        .qr-img {
            width: 100px;
        }
        @media (max-width: 500px) {
            .app-img {
                width: 100px;
            }
            .qr-img{
                width: 80px;
            }
        }
    }
    .section-footer {
        background: #d2d8dd;
        .footer-grid{
            padding: 1rem !important;
        }
        .social-img{
            width: 24px;
        }
        .footer-border {
            border-top: 1px solid;
        }
    }
}

.worker-home {
    .worker-profile {
        .avatar {
            width: 300px;
            height: 300px;
            border-radius: 10%;
            position: relative;
            .camera {
                position: absolute;
                right: 16px;
                bottom: 16px;
            }
        }
        .profile-count {
            color: #4fb55d;
        }
    }
    .worker-schedule,
    .worker-job {
        img,
        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 10%;
        }
        .accept {
            width: 100%;
            height: 80px;
            font-size: 1.25rem;
        }
        .s-avatar {
            width: 100px;
            height: 100px;
        }
    }
    .worker-job {
        .worker-select-type {
            background-color: #eee;
            padding: 3px;
            border-radius: 5px;
        }
    }
}
.worker-reference {
    .border-botton-1 {
        border-bottom: 1px solid #eee;
    }
}
.worker-billing {
    .worker-billing-invoice {
        .billing-tabs {
            .billing-tab {
                width: 100% !important;
                border-radius: 0% !important;
            }
            .billing-tab:hover,
            .select-item {
                border-bottom: 2px solid $theme-color !important;
            }
        }
        .no-item {
            width: 100px;
            height: 100px;
        }
    }
    .btn-home {
        background: #eee;
        padding: 0.3rem;
        .on-btn {
            background: gray;
            color: gray !important;
        }
        .off-btn {
            color: $theme-color !important;
        }
    }
}
.worker-referal {
    .referal-item {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
}
.faq-page {
    .faq-item {
        background: $d-s-color;
        margin-top: 0.1rem;
    }
}
.client-home {
    .avatar {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 10%;
        .camera {
            position: absolute;
            right: 16px;
            bottom: 16px;
        }
    }
    @media (max-width: 500px) {
        .avatar {
            width: 100%;
            height: 100%;
        }
    }
    .noexist-icon {
        width: 100px;
        height: 100px;
    }

    .client-post {
        .post-item-header {
            background: #e9f3f5;
            padding: 0.3rem;
            padding-left: 1rem;
            font-size: 1rem;
            font-weight: bold;
        }
        .modify-tbl {
            .date-num {
                width: 40px;
                height: 40px;
                margin: 0.1rem;
            }
            .disable-num {
                color: $gray;
                cursor: default !important;
                &:hover {
                    background: $white;
                }
            }
            .enable-item {
                background: $theme-color;
                color: $white;
            }
            td {
                padding: 0;
            }
        }
    }

    .billing-tabs {
        .billing-tab {
            width: 100% !important;
            border-radius: 0% !important;
        }
        .billing-tab:hover,
        .select-item {
            border-bottom: 2px solid $theme-color !important;
        }
    }
    .client-billing {
        img {
            width: 100px;
        }
    }
}
.downloads {
    .register-app-img {
        width: 150px;
    }
    .register-app-img-qr {
        width: 100px;
    }
    @media (max-width: 550px) {
        .register-app-img {
            width: 100px;
        }
        .register-app-img-qr {
            width: 60px;
            margin: 0 !important;
            margin-left: 0 !important;
        }
    }
}
