.worker-home {
    .worker-profile{
        .avatar {
            width: 300px;
            height: 300px;
            border-radius: 10%;
        }
        .profile-count {
            color: #4fb55d;
        }
    }
    .worker-schedule, .worker-job{
        img {
            width: 200px;
            height: 200px;
            border-radius: 10%;
        }
        .accept {
            width: 100%;
            height: 80px;
            font-size: 1.25rem;
        }
    }
    .worker-job{
        .worker-select-type {
            background-color: #eee;
            padding: 3px;
            border-radius: 5px;
        }

    }
}

.worker-reference {
    .border-botton-1 {
        border-bottom: 1px solid #eee;
    }
}

.worker-referal {
    .referal-btn {
        width: 100%;
    }
    .referal-item {
        background: #eee !important;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .width-100 {
        width: 100% !important;
    }
}
.worker-shift-job-history{
    .job-item-content{
        background: #eee;
    }
    .job-item-btn{
        width: 100%;
    }
}
.worker-billing-invoice{
    .billing-tabs{
        .billing-tab{
            width: 100% !important;
            border-radius: 0% !important;
        }
        .billing-tab:hover, .select-item{
            border-bottom: 2px solid $theme-color !important;
        }
    }
}
.worker-billing-account-statement{
    img{
        width: 100px;
    }
    .pay-btn{
        width: 100%;
    }
    .transaction-item{
        background: #eee;
    }
}
.faq-page{
    .faq-item{
        background: rgb(242, 246, 249);
        margin-top: 0.1rem;
    }
}
.contact-us{
    .conbtact-btn{
        width: 100%;
    }
}
.worker-setting-available{
    .btn-home{
        background: #eee;
        padding: 0.3rem;
        .on-btn{
            background: gray;
            color: gray !important;
        }
        .off-btn{
            color: $theme-color !important
        }
    }
    .small-letter{
        font-size: 0.8rem !important;
    }
}