.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    .over-load {
        width: 100vw;
        height: 100vh;
        background-color: gray;
        opacity: 0.5;
        position: absolute;
        z-index: 999;
    }

    .line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: $theme-color;
        margin-left: 0.5rem;
    }
    .load-1 .line:nth-last-child(1) {
        animation: loadingA 1.5s 1s infinite;
    }
    .load-1 .line:nth-last-child(2) {
        animation: loadingA 1.5s 0.5s infinite;
    }
    .load-1 .line:nth-last-child(3) {
        animation: loadingA 1.5s 0s infinite;
    }
    @keyframes loadingA {
        0% {
            height: 15px;
        }
        50% {
            height: 35px;
        }
        100% {
            height: 15px;
        }
    }
}
