// width
.w-100{
    width: 100vw;
}
.w-4{
    width: 4rem;
}
.w-5{
    width: 5rem;
}
.w-10{
    width: 10rem;
}

// display
.d-flex {
    display: flex;
}

// position
.position-fixed {
    position: fixed
}

// justify-content
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-start{
    justify-content: flex-start !important;
}
.justify-content-center{
    justify-content: center;
}

// align Items
.align-items-center {
    align-items: center;
}

// zindex
.z-index-999{
    z-index: 999;
}

// font
.font-weight-bold {
    font-weight: bold !important;
}
.fs-1 {
    font-size: 1rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-3{
    font-size: 3rem;
}

// background
.bg-theme{
    background: rgb(14 71 133) !important;
    // background: #061121 !important;
}
.bg-transparent{
    background: transparent !important;
}

// box shadow
.box-shadow-none{
    box-shadow: none !important;
}

// padding
.p-0{
    padding: 0rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-6{
    padding-top: 6rem;
}
.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pl-4{
    padding-left: 4rem;
}
.pl-5{
    padding-left: 5rem;
}
.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.pr-3{
    padding-right: 3rem;
}
.pr-4{
    padding-right: 4rem;
}
.pr-5{
    padding-right: 5rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}
.pb-6{
    padding-bottom: 6rem;
}

// margin
.m-auto{
    margin: auto;
}
.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.m-0{
    margin: 0rem;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.m-4{
    margin: 4rem;
}
.m-5{
    margin: 5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.ml-1{
    margin-left: 1rem !important;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}
.ml-5{
    margin-left: 5rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}
.mr-5{
    margin-right: 5rem;
}
.mr-6{
    margin-right: 6rem;
}
.mb-1{
    margin-bottom: 1rem
}
.mb-2{
    margin-bottom: 2rem
}
.mb-3{
    margin-bottom: 3rem
}
.mb-4{
    margin-bottom: 4rem
}
.mb-5{
    margin-bottom: 5rem
}
.mb-6{
    margin-bottom: 6rem
}

// text align
.text-align-center{
    text-align: center;
}

.text-capitalize{
    text-transform: capitalize !important;
}

.crusor-pointer{
    cursor: pointer;
}

.color-white{
    color: $white !important;
}
.color-gray{
    color: gray;
}

.flex-direction-column{
    flex-direction: column;
}